.Chat-main
  .Chat-main__group-info
    .left-box
      %p.info-text test
      %ul.member-list 
        Member:
        %li.member masa
    .right-box
      = link_to "#", class: "edit-btn" do
        Edit
  .Chat-main__message-list
    .user-menu
      %p.user-name masa
      %p.time 2019/11/20(Wed) 17:43:01
    .comments
      %p.coment おはよう！
    .user-menu
      %p.user-name masa
      %p.time 2019/11/20(Wed) 17:43:01
    .comments
      %p 今日は夜から雨
  .Chat-main__message-form
    .form-contents
      %input.form{placeholder: "type a message", type: "text"}/ 
      %label.input-box__image
        = icon('fas', 'image fa-2x')
        %input.file-form{type: "file"}
    %input.form-btn{type: "submit", value: "Send"}/
