.Side-bar
  .Side-bar__head-menu
    .top-items
      %p.top-items--name masa
      .icons
        = link_to "#" do
          %i.far.fa-edit
        = link_to "#" do
          %i.fas.fa-cog
  .Side-bar__group-list
    %p.group-logo teccamp
    %p.group-message まだメッセージがありません